

#map{
    max-height: 1000px;
}

/* .collapse-content{
    max-height: 300px;
} */

input[type='checkbox'] {
    accent-color: gold;
}

.bg-favorite{
    background-color: yellow;
    color: black;
    border-radius: 4px;
}

.form-control{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav label span {
    margin-right: 4px;
}