html{
 position: relative;

}

html::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/map_of_world.jpg);
    opacity: 0.45;
    z-index: -1;
    background-size: cover;
}


#map{
    max-height: 1000px;
}


.bg-favorite{
    background-color: yellow;
    color: black;
    border-radius: 4px;
}

.form-control{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav label span {
    margin-right: 4px;
}